<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List Employee</title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <td>Employee Id</td>
                <td>Employee fullname</td>
                <td>Employee age</td>
                <td>Edie/Delete</td>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let employee of employees">
                <td>{{employee.employeeId}}</td>
                <td>{{employee.fullname}}</td>
                <td>{{employee.age}}</td>

            </tr>
        </tbody>
    </table>
</body>
</html>
